$accent-color         : #2271b1;
$accent-color-darker  : darken($accent-color, 5%);

$border-color         : #dcdcde;
$border-color-darker  : #c3c4c7;
$border-color-invalid : #d21a1a;

$dark-text            : #2c3338;

$grey-background      : #f6f7f7;
$white-background     : #ffffff;


/* Border Radius */
$border-radius        : 3px;
